<div class="chat-header">
<div class="left-header">
<div class="left-title">
RikiRiki
</div>
</div>
<div class="right-header">
<div class="right-button">
<a href="#">チャットを終了する</a>
</div>
</div>
</div>

<div class="chat-content">
<div class="message">
<div class="message-top">
<div class="message-user">
Riki
</div>
<div class="message-date">
2022/4/21(Wed) 12:43:32
</div>
</div>
<div class="message-bottom">
<div class="message-content">
おはよう
</div>
</div>
</div>
<div class="message">
<div class="message-top">
<div class="message-user">
Riku
</div>
<div class="message-date">
2022/4/21(Wed) 12:50:32
</div>
</div>
<div class="message-bottom">
<div class="message-content">
こんにちは
</div>
</div>
</div>
</div>

<div class="chat-bottom">
<div class="chat-form">
<input class="form-message" placeholder="type a message">
  <label class="form-image">
      <span class="image-file">画像</span>
      <input type="file" class="hidden">
    </label>
</div>
<input class="form-submit" type="submit" value="送信">
</div>