<div class="side-bar_top">
<div class="user-name">
<%= link_to current_user.name, edit_user_path(current_user) %>
</div>
<div class="create-room">
<a href="#">チャットを作成する</a>
</div>
</div>

<div class="side-bar_bottom">
<div class="room">
<div class="room-name">
<a href="#">Room1</a>
</div>
</div>
<div class="room">
<div class="room-name">
<a href="#">Room2</a>
</div>
</div>
</div>
