.main-screen{
  width: 100vw;
  height: 100vh;
  display: flex;
}
.side-bar{
  background-color: #253141;
  width: 300px;
  height: 100vh;
}
.side-bar_top{
  height: 100px;
  width: 100%;
  background-color: #253141;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.user-name a{
  color: #fafafa;
  font-size: 16px;
  text-decoration: none;
}
.create-room a{
  color: deepskyblue;
  font-size: 10px;
  text-decoration: none;
  border: 1px solid lightblue;
  padding: 14px;
}
.side-bar_bottom{
  height: calc(100vh - 100px);
  width: 100%;
  background-color: #2f3e51;
  padding: 0 20px;
  overflow: scroll;
}
.room{
  padding: 20px 0 40px;
}
.room-name a{
  color: white;
  text-decoration: none;
}
.main-chat{
  background-color: #ffffff;
  width: calc(100vw - 300px);
  height: 100vh;
}
.chat-header{
  background-color: #ffffff;
  width: 100%;
  height: 100px;
  padding: 0 40px;
}
.chat-content{
  background-color: #fafafa;
  width: 100%;
  height: calc(100vh - 100px - 90px);
  padding: 46px 40px 0;
}
.chat-bottom{
  background-color: #dddddd;
  width: 100%;
  height: 90px;
  padding: 20px 40px;
}